<h1>Add new stream</h1>

<div class="container-md">
  <div class="card mx-0 my-10">
    <form action="/add" method="POST" class="form-inline mw-full">
      <div class="form-group">
        <label class="required w-100" for="name">Stream name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name of the channel" required="required">
      </div>
      <div class="form-group">
        <label class="required w-100" for="email">Stream URL</label>
        <input type="url" class="form-control" id="stream_url" name="stream_url" placeholder=".m3u8" required="required">
      </div>
      <div class="form-group">
        <label class="required w-100" for="password">Website URL</label>
        <input type="url" class="form-control" id="website_url" name="website_url" placeholder="Website where it can be viewed" required="required">
      </div>
      <button class="btn btn-primary ml-auto" type="submit">Add Stream</button>
    </form>
  </div>
</div>

<div class="container-md">
  <table class="table table-striped table-outer-bordered">
      <tr>
          <th>Name</th>
          <th class="text-center">Stream URL</th>
          <th class="text-center">Website URL</th>
          <th class="text-center">Created by</th>
          <th class="text-center">Creation time</th>
      </tr>
      {{#each data}}
          <tr>
              <td>{{this.name}}</td>
              <td class="text-center"><a href={{this.stream_url}}>Stream URL</a></td>
              <td class="text-center"><a href={{this.website_url}}>Website</a></td>
              <td class="text-center">{{this.created_by}}</td>
              <td class="text-center">{{formatTime this.createdAt "DD-MM-YYYY HH:mm:ss"}}</td>
          </tr>
      {{/each}}
  </table>
</div>

<div class="container-md">
  <h3>Logged in as {{ name }}</h3>
  <form action="/logout?_method=DELETE" method="POST">
    <button class="btn btn-primary" type="submit">Log Out</button>
  </form>
</div>
