<h1>Live streaming monitor</h1>
<div class="video_wrapper" id="video_wrapper">
    <div class="container-fluid">
        <div class="row row-eq-spacing-sm justify-content-center m-0 p-0">
            <div class="content" id="video_player">
                <video controls id="video"></video>
                <h2 class="content-title">Canal Parlamentario</h2>
            </div>
        </div>
    </div>
</div>
    <div class="d-flex flex-wrap">
    {{#each data}}
        <div class="card w-250" id="{{this._id}}">
            <h2 class="card-title">{{this.name}}</h2>
            <p><a href="{{this.stream_url}}" target="_blank">URL</a></p>
            <p><a href="{{this.website_url}}" target="_blank">Website</a></p>
            <button class="stream_button btn btn-primary" id="{{this._id}}">Play Video</button>
        </div>
    {{/each}}
    </div>

<div>
    <input id="online" type="button" value="online">
    <input id="offline" type="button" value="offline">
</div>
<script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    if (Hls.isSupported()) {
      var video = document.getElementById('video');
      var hls = new Hls();
      // bind them together
      hls.attachMedia(video);
      hls.on(Hls.Events.MEDIA_ATTACHED, function () {
        console.log("video and hls.js are now bound together !");
        hls.loadSource("http://congresodirecto-f.akamaihd.net/i/congreso6_1@54665/master.m3u8");
        hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
        console.log("manifest loaded, found " + data.levels.length + " quality level");
        });
      });
    }

    var streamButtons = document.querySelectorAll('button[class^=stream_button]');
    var video_player = document.getElementById('video_wrapper');

    for (var i = 0; i < streamButtons.length; i++) {
        streamButtons[i].addEventListener('click', function() {
            if (video_player.style.display === "block") {
                video_player.style.display = "none";
                video.pause();

            } else {
                video_player.style.display = "block";
                video.play();
            }
        });
    }
  </script>
